<p>
  Late at night you hear a scream. Everyone rushes out of their rooms into the hall where the train attendant is crying outside a doorway. She has just discovered another passenger, a zookeeper on his way to San Diego, has been stabbed TO DEATH.
</p>
<p>
  You approach the attendant. Do you comfort the attendant who is upset or approach the door to examine the scene?
</p>
<button routerLink="help-attendant">Help the attendant</button>
<button routerLink="examine-scene">Examine the scene</button>
